$font-input-family: "Jost", sans-serif;;
$font-input-size: 14px;

$font-button-family: "Poppins", sans-serif;
$font-button-size: 14px;

$font-wall-family: "Jost", sans-serif;
$font-wall-size: 24px;

$input-border-color: lightgray;
$input-border-color-focus: black;
$input-border-transition-speed: 300ms;
$input-border-radius: 2px;
$input-padding: .25em;
$submit-color-hover: lightblue;
$submit-color-transition-speed: 300ms;

$breakpoint-phone: 599px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1800px;